@using PlanShift.Web.ViewModels.ShiftChange;
@model ShiftChangeListWithActiveGroupViewModel<ShiftChangeManagementViewViewModel>;

<table class="table table-hover table-sm">
    <thead>
    <tr>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Position</th>
        <th scope="col">Original employee</th>
        <th scope="col">Pending employee</th>
        <th scope="col">Description</th>
        <th scope="col">Accept</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var shiftChange in this.Model.ShiftChanges)
    {
        <tr>
            <td>@shiftChange.ShiftStart.ToString("G")</td>
            <td>@shiftChange.ShiftStart.ToString("G")</td>
            <td>@shiftChange.ShiftPosition</td>
            <td>@shiftChange.OriginalEmployeeUserFullName</td>
            <td>@shiftChange.PendingEmployeeUserFullName</td>
            <td>
                @if (shiftChange.ShiftDescription == null)
                {
                    <span>No description</span>
                }
                else
                {
                    <div class="dropdown">
                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Read
                        </button>
                        <div class="dropdown-menu p-4" style="max-width: 200px;">
                            <p class="mb-0">
                                @shiftChange.ShiftDescription
                            </p>
                        </div>
                    </div>
                }
            </td>
            <td>
                <form method="post" asp-controller="ShiftChange" asp-action="Approve">
                    <input type="hidden" id="groupId" name="groupId" value="@Model.GroupId"/>
                    <input type="hidden" id="shiftChangeId" name="shiftChangeId" value="@shiftChange.Id"/>
                    <button class="btn-sm btn-primary" type="submit">Assign</button>

                </form>
            </td>
        </tr>
    }
    </tbody>
</table>