@using PlanShift.Web.ViewModels.Shift;
@model ShiftListViewModel

@{
    this.ViewData["Title"] = $"All shifts for {Model.GroupName}!";
}

<h1 class="text-center">Your businesses!</h1>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Status</th>
                <th scope="col">Employee</th>
                <th scope="col">Description</th>
                <th scope="col">Apply</th>
                <th scope="col">Change Shift</th>
                <th scope="col">Applications</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shift in Model.Shifts)
            {
            <tr>
                <td>@shift.Start</td>
                <td>@shift.End</td>
                <td>@shift.Status</td>
                <td>@shift.EmployeeName</td>
                <td>@shift.Description</td>
                <td>
                    <a asp-controller="ShiftApplication" asp-action="Apply" asp-route-shiftId="@shift.Id">
                        <input class="btn btn-sm btn-primary btn-sm" value="Apply" />
                    </a>
                </td>
                <td>
                    <a asp-controller="ShiftChange" asp-action="ApplyForShiftChange" asp-route-shiftId="@shift.Id">
                        <input class="btn btn-sm btn-primary btn-sm" value="Apply for Change" />
                    </a>
                </td>
                <td>
                    <a asp-controller="ShiftApplication" asp-action="All" asp-route-shiftId="@shift.Id">
                        <input class="btn btn-sm btn-primary btn-sm" value="Applications" />
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
