@using PlanShift.Web.ViewModels.Shift;
@model CreateShiftInputModel

@section Styles
{
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css" rel="stylesheet">
}

<div class="container">
    <div class="row">
        <div class="col-2 btn-group-vertical">
            @foreach (var group in this.Model.Groups)
            {
                <button id="groupButton" type="button" class="btn btn-primary" value="@group.Id">
                    <span class="row justify-content-center text-capitalize">Group: @group.Name</span>
                    <span class="row justify-content-center text-capitalize">Users Count: @group.EmployeesCount</span>
                    <span class="row justify-content-center text-capitalize">Shifts Count: <span id="shiftCount"> @group.ShiftsCount</span></span>
                </button>
            }
        </div>

        <div class="col-10" id='calendar'></div>
    </div>
</div>


<div class="text-center">
    <button class="btn-lg btn-primary" id="createShiftBtn" type="button" value="empty">Add Shift</button>
    <button class="btn-lg btn-secondary" id="hideCreateShiftFormBtn" type="button">Hide</button>
</div>

<partial name="_DayCalendarModal" />

<partial name="_CreateShiftFormPartial" />

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" asp-append-version="true"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js'></script>
    <script>
        $("#createShiftForm").hide();
        $("#createShiftBtn").hide();
        $("#hideCreateShiftFormBtn").hide();
    </script>

    <script>
        $("#groupButton").on("click",
            function() {
                var clickedGroup = $(this).val();
                console.log(2);
                $("#createShiftBtn").val(clickedGroup);
                $("#GroupId").val(clickedGroup);

                var events = [];

                $.ajax({
                    type: "GET",
                    url: `/api/Calendar/GetGroupShifts?groupId=${clickedGroup}`,
                    success: function(data) {
                        $(this).find("span > span").text(` ${data.shiftCount}`);

                        $.each(data.shifts,
                            function(i, v) {
                                events.push({
                                    shiftId: v.id,
                                    groupName: v.groupName,
                                    description: v.description,
                                    start: v.start,
                                    end: v.end != null ? v.end : null,
                                    color: '#1E90FF',
                                    allDay: false,
                                    eventDisplay: 'list-item',
                                    borderColor: '#000000'

                                });

                                generateCalender(events);
                            });
                    },
                    error:
                        function(error) {
                            alert('failed');
                        }
                });
            });

        function generateCalender(events) {
            var calendarEl = document.getElementById('calendar');

            if (events.length == 0) {
                var eventSources = calendar.getEventSources();
                var len = eventSources.length;
                for (var i = 0; i < len; i++) {
                    console.log(eventSources[i])
                    eventSources[i].remove();
                }
            }

            var calendar = new FullCalendar.Calendar(calendarEl,
                {
                    timeZone: 'local',
                    initialView: 'timeGridWeek',
                    headerToolbar: {
                        left: 'prev,next',
                        center: 'title',
                        right: 'timeGridDay,timeGridWeek'
                    },
                    events: events,
                    eventTimeFormat: {
                        hour: 'numeric',
                        minute: '2-digit',
                        omitZeroMinute: false,
                        meridiem: false
                    },
                    eventClick: function(info) {
                        $('#myModal #groupName').text(info.event._def.extendedProps.groupName); //#groupName
                        $('#myModal #start').text(moment(info.event.start).format('LLL'));
                        if (info.event.end != null) {
                            $('#myModal #end').text(moment(info.event.end).format('LLL'));
                        }
                        if (info.event.description != null) {
                            $('#myModal #description').text(info.event.description);
                        } else {
                            $('#myModal #description').text('No description.');
                        }
                        console.log(info.event);
                        $('#myModal #shiftId').val(info.event._def.extendedProps.shiftId);

                        $('#myModal').modal();
                    },
                    slotEventOverlap: true,
                });
            calendar.render();
        };

        var clickedGroup = "@this.TempData["GroupId"]";

        if (clickedGroup != "") {
            $(`button[type="button"][value="${clickedGroup}"]`).trigger("clicked");
            console.log("clicked");
            $("#createShiftForm").show();
        }
    </script>

    <script>
        $("#createShiftBtn").click(function () {
            $("#createShiftForm").show();
        })

        $("#hideCreateShiftFormBtn").click(function () {

            $("#createShiftForm").hide();
        });
    </script>
}