@using PlanShift.Web.ViewModels.Group;
@model GroupListViewModel

@{
    this.ViewData["Title"] = "Groups all";
}

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Group Name</th>
        <th scope="col">Employee Count</th>
        <th scope="col">Management</th>
        <th scope="col">Employees</th>
        <th scope="col">Invite Employee</th>
        <th scope="col">All Shift</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var group in Model.Groups)
    {
        <tr>
            <td>@group.Name</td>
            <td>@group.EmployeesCount</td>
            <td>
                <a asp-controller="EmployeeGroup" asp-action="GroupManagement" asp-route-groupid="@group.Id" class="btn btn-primary btn-sm">All management</a>
            </td>
            <td>
                <a asp-controller="EmployeeGroup" asp-action="GroupEmployees" asp-route-groupid="@group.Id" class="btn btn-primary btn-sm">All employees</a>
            </td>
            <td>
                <a asp-controller="EmployeeGroup" asp-action="AddEmployeeToGroup" asp-route-groupid="@group.Id" class="btn btn-primary btn-sm">Add</a>
            </td>
            <td>
                <a asp-controller="Shift" asp-action="All" asp-route-groupid="@group.Id" class="btn btn-primary btn-sm">All</a>
            </td>
        </tr>
    }
    </tbody>
</table>