@using PlanShift.Web.ViewModels.EmployeeGroup;
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model EmployeeToGroupInvitationInputModel

@{
    this.ViewData["Title"] = $"Invite employee to group";


    var userWithEmailNotFound = false;

    ModelStateEntry modelState = null;

    @if (this.ViewData.ModelState.TryGetValue("NotPermitted", out modelState) || this.ViewData.ModelState.TryGetValue("EmployeeIsInGroupAlready", out modelState))
    {
        <div class="alert alert-danger" role="alert">
            @modelState.Errors[0].ErrorMessage
        </div>
    }
    else if (this.ViewData.ModelState.TryGetValue("NoSuchUser", out modelState))
    {
        userWithEmailNotFound = true;

        <div id="InviteUserModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">No user with this email</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>@modelState.Errors[0].ErrorMessage</p>
                        <p>Do you want to invite the user to your group?</p>
                        @if (this.User.IsInRole("Administrator"))
                        {
                            <p>You will have to make this employee manager manually!</p>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                        <form method="post" asp-controller="InviteUser" asp-action="InviteUserToGroup">
                            <input type="hidden" name="email" value="@Model.Email"/>
                            <input type="hidden" name="salary" value="@Model.Salary"/>
                            <input type="hidden" name="position" value="@Model.Position"/>
                            <input type="hidden" name="groupId" value="@Model.GroupId"/>
                            <button class="btn btn-success" >Invite Employee</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    }
}

<div class="border-secondary">
    <form method="post">
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Salary" class="control-label"></label>
            <input asp-for="Salary" class="form-control" />
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Position" class="control-label"></label>
            <input asp-for="Position" class="form-control" />
            <span asp-validation-for="Position" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="GroupId" class="form-control" />
        <div class="form-group">
            <input type="submit" value="Invite" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts{
    @if (userWithEmailNotFound)
    {
        <script>$('#InviteUserModal').modal('toggle')</script>
    }
}