@using PlanShift.Web.ViewModels.Shift;
@model ShiftShiftApplicationViewModel

<div class="card bg-warning">
    <div class="card-body">
        <h4 class="card-title text-center">Shift</h4>
        <h5 class="card-title text-center">Start: @Model.Start / End: @Model.End</h5>
        <h5 class="card-title text-center">Position: @Model.Position</h5>
        <h6 class="card-text text-center">Bonus payment: @Model.BonusPayment</h6>
        <p class="card-text text-center">Description: @Model.Description</p>
    </div>
</div>