@using PlanShift.Web.ViewModels.Shift;
@model ShiftWithApplicationsListViewModel;

<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Position</th>
            <th scope="col">Bonus Payment</th>
            <th scope="col">Description</th>
            <th scope="col">Applications</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shift in this.Model.ShiftsWithApplications)
        {
            var applications = shift.ShiftApplications.Select(x => new SelectListItem(x.EmployeeEmployeeUsername, x.Id));

            <tr>
                <td>@shift.Start.ToString("G")</td>
                <td>@shift.End.ToString("G")</td>
                <td>@shift.Position</td>
                <td>@(shift.BonusPayment == 0 ? "-" : shift.BonusPayment.ToString("0.0"))</td>
                <td>
                    @if (shift.Description == null)
                    {
                        //TODO: FIX The dropdown
                        <span>No description</span>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Read
                            </button>
                            <div class="dropdown-menu p-4" style="max-width: 200px;">
                                <p class="mb-0">
                                    @shift.Description
                                </p>
                            </div>
                        </div>
                    }
                </td>
                <td>
                    <form method="post" asp-controller="ShiftApplication" asp-action="Approve">
                        <div class="row">
                            <select class="custom-select custom-select-sm col-7" name="shiftApplicationId" asp-items="applications"></select>
                            <input type="hidden" name="businessId" id="businessId" value="@Model.BusinsesId">
                            <button class="btn-sm btn-primary" type="submit">Assign</button>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

