@using PlanShift.Common
@using PlanShift.Web.Tools.SessionExtension

@{
    var sessionIsActive = false;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/FullCalendar/main.css" rel='stylesheet' asp-append-version="true" />
    @await RenderSectionAsync("Styles", false);
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        @if (await this.ViewContext.HttpContext.Session.HasKeyAsync(GlobalConstants.BusinessIdSessionName))
                        {
                            sessionIsActive = true;
                            <a class="navbar-brand" asp-area="" asp-controller="Business" asp-action="Index">@GlobalConstants.SystemName</a>
                        }
                        else
                        {
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                        }
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item row">
                            <a class="nav-link text-dark" asp-controller="Shift" asp-action="Schedule">Schedule</a>
                            <a class="nav-link text-dark" asp-controller="People" asp-action="Index">People</a>
                        </li>
                    }
                </ul>
                <ul class="nav navbar-nav flex-fill justify-content-center">
                    <li class="nav-item"><span class="nav-item text-danger">@await this.ViewContext.HttpContext.Session.GetStringAsync(GlobalConstants.BusinessNameSessionName)</span></li>
                </ul>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </nav>
        </header>
    </div>

    <partial name="_CookieConsentPartial" />
    <div class="container">
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>


    <div class="container">
        <footer class="border-top footer text-muted">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName
        </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" asp-append-version="true"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>